<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>1FBCB528-E26E-4A95-8341-0DE011A79330</string>
	<key>storeUUID</key>
	<string>AACA8C57-2BAB-4482-A578-6BC7A90DA8D0</string>
</dict>
</plist>
