<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZHBTsMwDIbfxedSJQwY9Ia4jAuTQAIkxCFd3daoTavE3UBV3x2nXcemcUpif/b/2+lh
	i85TYx9t3kDSQ9pRlT11dYoOEtB3K73U1xCBadvXiQzhGx2rWF8qSfhNibV5xi1NSR1B
	WxnOG1cLuX55hyGCGtlkhk1QqI1ndG+UcSn0rRKeWqzI4p+AlMVX0nxiV0hFyQIvpXnj
	CC0bnsSkd1AyfKgVxGRfnedaMA/JR/8PgdakFWaQsOtQZkBmsoUP9spZTC8kwc6EJ9p7
	W1QIyYXY3TR2jFveDyGx3X6c4PB77aggO8Z/5vvipHCeSIl/ysQo5TQu/ME1bdh2x+Nv
	zOeZD3UqszvaZnm8rYO+Gobhc/gF
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-04-29T13:49:17Z</date>
</dict>
</plist>
