<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVFNT8MwDP0vPpepYYOtuSEu48IkkAAJcUhXrzVq0ypxN1DV/477MVo0Tkmen/3ecxo4
	ovNU2gd7KEE3ENeUJ491EaMDDSraqrW6gQBMVb0MzA6+VYtwoa5DKfh9hoV5wiMNRRVA
	lRs+lK4Q5u75DdoACmSTGDadQmE8o3ulhDPQyygUPlWYk8VJQNoWKxk+cLdIacagVyoK
	oHSElg0PYjK7UzL82yv6JvmsPRdC86Dfm38YaE2cYwKaXY2SAZnJpr6zl41iy7XwPDvT
	PdHe2TRH0Fdid1/aHrc8hhDsNMbZbAL42jlKyfb49+w+9Z0DhWKfEvFJB+r3fe/Kqlt2
	zf1nnM8LG+FfldNsmdl8WZN827Yf7Q8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-04-29T13:43:31Z</date>
</dict>
</plist>
